# Visual Studio Code
.vscode/

# Abaikan file lain yang tidak perlu di masa depan

# Abaikan file video player karena akan di-host di domain terpisah
videy.html

# Abaikan folder worker karena akan di-deploy terpisah
maneh-worker/